@import 'src/scss/vars.scss';

.custom-navbar{
    transition: .5s;

    .navbar-menu{
        height: 4.7rem !important;
        .navbar-item{
            color: $hdark !important;
            margin-left: 1.5rem !important;
            margin-right: 1.5rem !important;

            &:hover{
                background: rgba(0,0,0,0) !important;
                color: $hdarkblue !important;
            }

            &.is-active{
                border-bottom: 3px solid $hdarkblue !important;
            }

            &:focus{
                background: rgba($hdark, 0) !important;
            }
        }
        &.has-navbar-bg-color {
            background: white !important;
            border-bottom: none !important;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) !important;
        }
    
        &.is-hidden-up {
            transform: translateY(-100%);
        }
    }
    
    .navbar-dropdown {
        background: white !important;
        border: none;
    }
    
    .navbar-link {
        background: transparent !important;
        color: white;
    
        &::after {
            border-color: $hdarkblue !important;
        }
    
        &:hover {
            color: $hdarkblue !important;
        }
    }
    
    .navbar-item.has-dropdown {
        &:hover .navbar-link {
            color: $hdarkblue !important;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .navbar-menu {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh !important;
            max-height: 100vh !important;
            background: $hdark !important;
            padding-top: 5rem !important;
    
            z-index: -1;
    
            .navbar-item {
                &.is-active {
                    background-color: rgba($hdarkblue, 0);
                }
            }
        }
    }
    
}