@import 'src/scss/vars.scss';

.custom-navbar {
    transition: 0.5s;

    .navbar-menu {
        height: 4.7rem !important;
        .navbar-item {
            color: $md-source-primary !important;
            margin-left: 1.5rem !important;
            margin-right: 1.5rem !important;

            &:hover {
                background: rgba(0, 0, 0, 0) !important;
                color: $md-ref-primary-50 !important;
            }

            &.is-active {
                border-bottom: 3px solid $md-ref-primary-50 !important;
            }

            &:focus {
                background: rgba($md-source-primary, 0) !important;
            }
        }
        &.has-navbar-bg-color {
            background: white !important;
            border-bottom: none !important;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) !important;
        }

        &.is-hidden-up {
            transform: translateY(-100%);
        }
    }

    .navbar-dropdown {
        background: white !important;
        border: none;
    }

    .navbar-link {
        background: transparent !important;
        color: white;

        &::after {
            border-color: $md-ref-primary-50 !important;
        }

        &:hover {
            color: $md-ref-primary-50 !important;
        }
    }

    .navbar-item.has-dropdown {
        &:hover .navbar-link {
            color: $md-ref-primary-50 !important;
        }
    }

    @media screen and (max-width: 1024px) {
        .navbar-menu {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh !important;
            max-height: 100vh !important;
            background: $md-source-primary !important;
            padding-top: 5rem !important;

            z-index: -1;

            .navbar-item {
                &.is-active {
                    background-color: rgba($md-ref-primary-50, 0);
                }
            }
        }
    }
}
