@import 'src/scss/vars.scss';

.square1 {

    position: absolute;
    top: -80px;
    left: -50px;
    width: 115%;
    height: 150%;

    border-bottom-right-radius: 16px;
    transform: rotate(-25deg);
}


.square2{
    position: absolute;
    top: -25px;
    left: -20px;
    width: 100%;
    height: 120%;

    border-bottom-right-radius: 16px;
    transform: rotate(-10deg);

}