@import './vars';

/* width */
.coolscroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.coolscroll::-webkit-scrollbar-track {
    background: $md-ref-neutral-90;
}

/* Handle */
.coolscroll::-webkit-scrollbar-thumb {
    background: $hblue;
    border-radius: 10px;
}

/* Handle on hover */
.coolscroll::-webkit-scrollbar-thumb:hover {
    background: $md-ref-neutral-70;
}

.coolscroll-small::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.coolscroll-small::-webkit-scrollbar-track {
    background: $md-ref-neutral-90;
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb {
    background: $hblue;
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb:hover {
    background: $md-ref-neutral-70;
}
