@use 'sass:map';

$hblue: #15195b;
$hlight: #f2f2f2;
$hlightblue: #d7e7f9;
$hperiwinkle: #d0d1de;
$hgreen:#1D9722;
$hdarkgray: #414141;
// $hgra1: linear-gradient(90deg, $hpurple 0%, $hblue 100%);

$hcolors: (
    hblue: $hblue,
    hlight: $hlight,
    hlightblue: $hlightblue,
    hperiwinkle: $hperiwinkle,
    hgreen: $hgreen,
    hdarkgray: $hdarkgray,
);

$hgras: ();

$z-index-glasspanel: 100;
