@import 'src/scss/_variables.scss';

.tabs{
    ul{
        border-bottom-color: $md-source-seed !important;
    }
    li{
        border-radius: 16px 16px 0px 0px !important;
        a{
            &:hover{
                border-bottom-color: $md-source-seed !important;
            }
            border-radius: 16px 16px 0px 0px !important;
        }
        &.is-active{
            a{ 
                border-color: $md-source-seed !important;
                color: $md-white !important;
                background-color: $md-source-seed !important;
            }
        }
        
        &:not(.is-active){
            border-color: rgba(0, 0, 0, 0.5);
            border-style: solid;
            border-width: 1px 1px 0px 1px !important;
        }
    }
}